# Database
data/mysql/

# Logs
rathena/log/

# Crash dumps
*.core

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Build
rathena/build/

# Cache
rathena/db/import/

# Backup
*.bak
*.old